.pagination__btn {
  position: absolute;
  z-index: 99999;
  height: 100%;
  width: 8%;
  font-size: 20px;
  color: transparent;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.pagination__btn:hover {
  color:white;
  text-shadow: 0 0 5px grey;
}

.pagination__btn--left {
  left: 0;
}

.pagination__btn--right {
  right: 0;
}

.pagination__btn--left:hover {
  background: linear-gradient(268deg, rgba(0,0,0,0.04805672268907568) 0%, rgba(0,0,0,0.058140756302521) 35%, rgba(0,0,0,0.064861694677871145) 64%);
}

.pagination__btn--right:hover {
  right: 0;
  background: linear-gradient(87deg, rgba(0,0,0,0.04805672268907568) 0%, rgba(0,0,0,0.058140756302521) 35%, rgba(0,0,0,0.064861694677871145) 64%);
}
