.carousel {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: 100%;
  list-style: none;
  transition: 0.5s;
}

.carousel__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 1;
  width: 88%;
  height: 100%;
  margin: 0 6%;
}
