.carousel-track {
  height: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: 100%;
  list-style: none;
}

.carousel__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 1;
  width: 100vw;
  height: 100%;
  padding: 0 3%;
}
